<div>
    <form asp-action="DownloadFile" asp-controller="File" method="post">
        <label for="firstName">Name: </label>
        <input type="text" name="firstName" id="Name" />  <br />
        <label for="lastName">Sername: </label>
        <input type="text" name="lastName" id="Sername" />  <br />
        <label for="FileName">FileName: </label>
        <input type="text" name="FileName" id="FileName" />  <br />
        <input type="submit" value="Продовжити" />
    </form>
</div>
